body {
    font-family: "Happy Monkey", system-ui, sans-serif;
    margin: 0;
    
}

#bff-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: rgb(255, 0, 255);
    border-style: solid;
    border-width: 5px;

}
.hero{
    background-color: rgb(103, 207, 207);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

h2,h3,h4,h1,p {
    text-shadow: 0px 0px 1px black
}

h3,h4{
    background-color: rgb(255, 0, 255) ;
}