* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  gap: 11px;
  background-color: rgb(255, 94, 0);
  height: 80px;
  padding-bottom: 20px;
}

.navbar img {
  height: 60px;
  width: 60px;
}

.navbar h1 {
  color: #000000;
  font-weight: 700;
}

main {
  padding: 10px 30px;

}
.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 50px;
  gap: 10px;
}

.add-ingredient-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  flex-grow: initial;
  min-width: auto;
  max-width: 400px;
}

.add-ingredient-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff5e00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}