.App {
  background: url(./assets/react-logo-half.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 50%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #27292c;
  color: #f0f0f0;
}

.Navbar {
  background-color: #333;
  padding: 20px 20px;
  border-radius: 5px;
  margin: 15px 10px 10px 10px;
  display: flex;
  height: 50px;
}

.Navbar img {
  height: 40px;
  margin-left: 10px;
  justify-content: center;
}

.card {
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  width: 800px;
  color: rgb(255, 255, 255);
}

.card h1 {
  margin-top: 0px 0px;
  justify-content: center;
  color: rgb(0, 234, 255);
}

.list {
  margin: 10px 0;
  max-width: 700px;
  position: 10px;
}

li {
  margin: 10px 0;
  font-weight: bolder;
}
.footer {
  text-align: center;
  margin-top: 300px;
}
.side-nav {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.side-nav a {
  color: rgb(0, 234, 255);
  text-decoration: none;
  font-weight: bold;
}
.h1-sidenav {
  margin-right: 600px;
  margin-left: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  color: rgb(0, 234, 255);
  max-width: 400px;
}

.list > li::marker {
  color: rgb(0, 234, 255);
  font-size: 2rem;
}
