
#hero{
    background-image: url("../Images/giphy.gif");
    background-size: cover;
    padding: 10px 0 40px 0;
    height: 75%;
}

body {
  margin: 0;
  color: #0080ff;
  
  text-align: center;
  font-family: "Orbitron", sans-serif;
  width: 100%;
    height: 100vh;
}
#footer {
    height: 25px;
    margin: 10px 0 1px 0
}
.btn {
  padding: 6px 12px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  color: #000B16;
  font-weight: 800;
}

.orbitron {
  border-bottom: 3px solid white;
  color: #0884ff;
 

}
#main-logo{
    width: 100px;
    color: wheat;
}

#title {
    text-shadow: 0px 0px 4px black;
}