body{
    margin: 20px;

}
.container{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 20px;
    gap:20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.profile-photo{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1.5px solid;
    border-color: rgb(255, 255, 255);
    
}

.text-name{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}
.p-job{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}
.text-location{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}