body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 500px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  padding-top: 30px;
  background-color: #8D99AE;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  margin: 0 auto;
  justify-content: space-evenly;
  padding-left: 20px;
}
.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  border: 1.5px solid;
  border-color: rgb(255, 255, 255);
}

.text-name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  padding-right: 20px;
}
.p-job {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  padding-right: 20px;
}
.text-location {
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  padding-right: 20px;
}
