* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.816);
    color: rgb(8, 8, 8);
}

#container {
    background-color: #ffffff;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 110%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

h1 span {
    color: #ffd000; /* Example color for the span */
}

p span {
    margin-top: 2rem;
    color: #ffc400;
}

#btc-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    min-height: 2rem;
    color: #1a1a1a;

}

#btn {
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffc400;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#btn:hover {
    
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#info {
  max-width: 600px;
  margin: 20px auto;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.6;
  color: #000000;
  opacity: 0.9;
  font-weight: bold;
}

#p-span {
    color:#ffd000;
    font-weight: bold;
}
#price-label {
  color: #ffcc00; /* yellow */
  font-weight: bold;
}

#price-value {
  color: black; /* price number stays black */
  font-weight: bold;
}
